block header
    header#header.flex
        .container.flex.alignCenter
            .logo
                a(href=""): img(src="./images/logo.png", alt="")
            .list
                ul.flex
                    li: a(href="") HOME 
                    li: a(href="") ABOUT US hiihi
                    li: a(href="") SERVICES
                    li: a(href="") PORTFOLIO
                    li
                        a(href="") ADDITIONAl
                            i.fa.fa-angle-down
                        ul.dropdow
                            li
                                a(href="") Error 404
                            li
                                a(href="") Privacy Policy
                    li: a(href="") CONTACT

                    