block main
    main#slider
        .owl-carousel#slmax
            .slide1
                .slide.container
                    .flex
                        .contain
                            h2 Pellentesque eu libero diam, etiam bibendum
                            h3 Mauris feugiat est vitae malesuada pharetra
                            .btn: a(href="") View More                      
                        .image
                            img(src="../images/slideB.png", alt="")
            .slide2
                .slide.container
                    .flex
                        .contain
                            h2 Neque porro quisquam est qui dolorem
                            h3 Praesent consectetur est diam
                            .btn: a(href="") View More
                        .image
                            img(src="../images/slideG.png", alt="")
            .slide3
                .slide.container
                    .flex
                        .contain
                            h2 Aliquam tincidunt ornare placerat
                            h3 Aenean tincidunt posuere orci
                            .btn: a(href="") View More
                        .image
                            img(src="../images/slideRed.png", alt="")
    main#part1.container.flex
        .content1
            h4 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos
            p Ut ultrices eu nunc vitae scelerisque. Praesent sollicitudin accumsan diam, sed tristique diam sodales ut. Ut volutpat tempor dignissim.
        .btn 
            a(href="") Nulla ornare varius  
    main#part2
        .part2.container
            .title
                h3.centerText Proin leo magna
                p.centerText Sed volutpat lectus orci, in mattis purus condimentum eget. Curabitur pulvinar urna orci, eu dictum leo fermentum quis.          
            ul.flex.alignCenter
                li.flex
                    .iconp2.icon1 
                    .contain
                        h4 Vestibulum efficitur
                        p  Vivamus sed nibh nisl. Donec eget nunc at felis posuere ultricies. Maecenas ultrices ante ut dictum semper. Nullam ac dolor leo. Cras tempus viverra tellus, eu posuere quam vestibulum eu. Pellentesque eleifend orci sed tristique consequat. Mauris aliquet venenatis purus. 
                li.flex 
                    .iconp2.icon2
                    .contain
                        h4 Aenean sed viverra sem
                        p Mauris aliquet venenatis purus lobortis scelerisque. Fusce vulputate dui placerat augue rhoncus elementum. Fusce nec elementum odio. Nulla vel nibh eget nulla auctor efficitur. Vivamus sollicitudin vestibulum purus non dictum. Sed scelerisque placerat dui porta vestibulum.
                li.flex 
                    .iconp2.icon3
                    .contain
                        h4 Nunc tincidunt convallis
                        p Ut pellentesque odio orci, sed laoreet ipsum lacinia at. Praesent malesuada, nulla eget commodo elementum, nibh ante pellentesque lorem, vitae finibus velit dolor vitae purus. Vivamus eu molestie urna, vitae sagittis magna. Sed mauris massa, varius hendrerit odio ac, rutrum efficitur turpis.
                li.flex 
                    .iconp2.icon4
                    .contain
                        h4 Integer eu dolor eu augue
                        p Vestibulum nec ante eu diam consectetur mollis. Suspendisse pharetra ante orci, a tristique tortor congue sit amet. Fusce interdum risus in nibh gravida, ullamcorper tempor elit pretium. Proin euismod, ante vel ornare consequat, magna augue molestie sapien.
                li.flex 
                    .iconp2.icon1
                    .contain
                        h4 Aliquam sollicitudin
                        p Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam a ligula non velit pharetra iaculis. Curabitur malesuada sem a erat accumsan ultrices. Phasellus ac risus dui. Nunc id arcu a augue dictum viverra auctor in orci. Suspendisse potenti. Proin at eros elit.
                li.flex 
                    .iconp2.icon1
                    .contain
                        h4 Mauris efficitur viverra
                        p In malesuada quam non fringilla commodo. Aenean a vulputate mi, et sollicitudin justo. Integer accumsan justo pretium risus feugiat, sed rhoncus turpis ultricies. Mauris at sollicitudin justo. Aliquam ultricies augue at lectus pharetra viverra. Morbi quis auctor libero, etiam porttitor.
    main#part3
        .part3.container
            .title
                h3.centerText Sed faucibus justo
                p.centerText Praesent mollis elit vitae neque condimentum, in semper lectus placerat.
            ul.flex
                li
                    img(src="../images/item1.jpg", alt="")
                    p Nunc euismod tincidunt orci
                li
                    img(src="../images/item2.jpg", alt="")
                    p Fusce aliquet faucibus ullamcorper
                li
                    img(src="../images/item3.jpg", alt="")
                    p Praesent congue ligula sed massa
                li
                    img(src="../images/item4.jpg", alt="")
                    p Integer sapien turpis
    main#part4
        .part4.container.flex
            .item-left
                h4 PHASELLUS RUTRUM LAOREET
                #icon.flex
                    .next 
                    .prev 
                p Aenean libero ipsum, pellentesque eu lacus eget, sodales accumsan eros. Nunc ut leo commodo.
            .item-right               
                    ul.owl-carousel#slmin 
                        li                       
                            a(href=""): img(src="../images/client1.png", alt="")        
                        li
                            a(href=""): img(src="../images/client2.png", alt="")                 
                        li
                            a(href=""): img(src="../images/client3.png", alt="")                
                        li
                            a(href=""): img(src="../images/client4.png", alt="")                 
    main#part5
        .part5.container
            ul.flex
                li
                    h4 CONTACT US
                    ul
                        li
                            .icon: i.fa.fa-home
                            p Address: Carrera 7 # 72-01 <br>Bogotá D.C., Colombia                                    
                        li
                            .icon: i.fa.fa-envelope
                            p
                                strong Email: 
                                a(href="") company@domain.com
                        li
                            .icon: i.fa.fa-globe
                            p 
                                strong Website: 
                                a(href="") www.domain.com
                        li
                            .icon: i.fa.fa-phone
                            p Telephone: 123-456-7890
                li
                    h4 COMPANY NAME
                    ul
                        li
                            .icon: i.fa.fa-angle-right
                            a(href=""): p About Us
                        li
                            .icon: i.fa.fa-angle-right
                            a(href=""): p Services
                        li
                            .icon: i.fa.fa-angle-right
                            a(href=""): p Portfolio
                        li
                            .icon: i.fa.fa-angle-right
                            a(href=""): p Erro 404
                        li
                            .icon: i.fa.fa-angle-right
                            a(href=""): p Privacy Policy
                        li
                            .icon: i.fa.fa-angle-right
                            a(href=""): p Contact Us
                li
                    h4 ARCHIVES
                    ul
                        li
                            .icon: i.fa.fa-angle-right
                            a(href=""): p Link No. 1
                        li
                            .icon: i.fa.fa-angle-right
                            a(href=""): p Link No. 2
                        li
                            .icon.icon: i.fa.fa-angle-right
                            a(href=""): p Link No. 3
                        li
                            .icon: i.fa.fa-angle-right
                            a(href=""): p Link No. 4
                        li
                            .icon: i.fa.fa-angle-right
                            a(href=""): p Link No. 5
                        li
                            .icon: i.fa.fa-angle-right
                            a(href=""): p Link No. 6
                li
                    h4 FACEBOOK
                    img(src="../images/facebook.jpg", alt="")                 
    main#part6
        .part6.container.flex
            p © Copyright. All Rights Reserved.
            ul.flex               
                li
                    a(href=""): i.fab.fa-facebook
                li
                     a(href=""): i.fab.fa-twitter
                li
                    a(href=""): i.fab.fa-pinterest
                li
                    a(href=""): i.fab.fa-linkedin
                li
                    a(href=""): i.fab.fa-google-plus
                li
                    a(href=""): i.fab.fa-youtube
                li
                    a(href=""): i.fab.fa-instagram
            .scollTop
                a(href=""): i.fa.fa-angle-up 



